@charset "UTF-8";

@use 'components/variables';
@use 'components/header';
@use 'components/followers';
@use 'components/overview';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: variables.$White;
    transition: background-color .2s;
    font-family: variables.$Inter;
    .container {
        margin: auto;
        transform: translateY(-3rem);
        display: grid;
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        min-height: 100vh;
        .container {
            max-width: 1250px;
            transform: translateY(-6.5rem);
            display: grid;
            gap: 2.5rem;
        }
    }
}

.active-texts {
    color: variables.$White;
}

.active-bg {
    background-color: variables.$Very-Dark-Blue-two;
    color: variables.$White;
    z-index: 0;
}

.active-bg-two {
    background-color: variables.$Dark-Desaturated-Blue;
}