@use 'variables';

.followers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__containers {
        display: grid;
        justify-content: center;
        background-color: variables.$Light-Grayish-Blue;
        margin: 0 1.5rem;
        padding: 1.5rem 0;
        border-radius: 5px;
        gap: 1rem;
        border-top: 4px solid variables.$Facebook;
        transition: background-color .2s;
        
        &:nth-child(2) {
            border-top: 4px solid variables.$Twitter;            
        }
        &:nth-child(3) {            
            border: 0;
            background: linear-gradient(to right, #fdc468, #df4996);
            position: relative;
        }
        &:nth-child(4) {
            border-top: 4px solid variables.$YouTube;            
        }
    }
    &__bg {
        position: absolute;
        background-color: variables.$Light-Grayish-Blue;
        width: 100%;
        height: 98%;
        top: 2.2%;
        border-radius: 5px;
        z-index: 0;
        transition: background-color .2s;
    }
    &__social-media {
        z-index: 2;
        margin: auto;
        display: flex;
        gap: .5rem;
        align-items: center;
        font-size: .8rem;
        font-weight: 700;
        color: variables.$Desaturated-Blue;
        transition: color .2s;
    }
    &__number-and-text {
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
    &__number {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    &__text {
        font-size: .8rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: variables.$Desaturated-Blue;
        transition: color .2s;
    }
    &__today-numbers {
        z-index: 2;
        text-align: center;
        color: variables.$Lime-Green;
        font-size: .8rem;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        &::before {
            content: url('images/icon-up.svg');
            margin-bottom: .3rem;          
        }
    }
    .down {
        color: variables.$Bright-Red;
        &::before {
            content: url('images/icon-down.svg');
            margin-bottom: .3rem;          
        }
    }
}

@media screen and (min-width: 1024px) {
    .followers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        margin: 0 4rem;
        &__containers {
            margin: 0;
        }
        &:nth-child(3) {            
            &::after {
                height: 80%;
            }
        }
    }
}