@use 'variables';

.overview {
    margin: .5rem 1.5rem;
    display: grid;
    gap: 1rem;
    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: variables.$Dark-Grayish-Blue;
        transition: color .2s;
        margin-bottom: .25rem;
    }
    &__grid {
        display: grid;
        gap: 1rem;
    }
    &__containers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        background-color: variables.$Light-Grayish-Blue;
        transition: background-color .2s;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        gap: 1rem;
        border-radius: 5px;
    }
    &__subtitles {
        grid-area: 1 / 1;
        font-size: .8rem;
        font-weight: 700;
        color: variables.$Desaturated-Blue;
        transition: color .2s;
    }
    img {
        justify-self: end;
    }
    &__numbers {
        grid-area: 2 / 1;
        font-size: 2rem;
        font-weight: 800;        
    }
    &__percent {
        justify-self: end;
        font-size: .8rem;
        font-weight: 800;
    }
    .green {
        color: variables.$Lime-Green;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;
        &::before {
            content: url('images/icon-up.svg');
            margin-bottom: .3rem;
        }
    }
    .red {
        @extend .green;
        color: variables.$Bright-Red;    
        &::before {
            content: url('images/icon-down.svg');            
        }
    }
}

@media screen and (min-width: 1024px) {
    .overview {
        margin: 0 4rem;
        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem;
        }
        &__subtitles {
            grid-area: 1 / 1;
            font-size: .8rem;
            font-weight: 700;
            color: variables.$Desaturated-Blue;
        }
        img {
            justify-self: end;
        }
        &__numbers {
            grid-area: 2 / 1;
            font-size: 2rem;
            font-weight: 800;        
        }
        &__percent {
            justify-self: end;
            font-size: .8rem;
            font-weight: 800;
        }
        .green {
            color: variables.$Lime-Green;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .25rem;
            &::before {
                content: url('images/icon-up.svg');
                margin-bottom: .3rem;
            }
        }
        .red {
            @extend .green;
            color: variables.$Bright-Red;    
            &::before {
                content: url('images/icon-down.svg');            
            }
        }
    }
}