$Lime-Green: #1db489;
$Bright-Red: #dc414c;
$Facebook: #198ff5;
$Twitter: #1ca0f2;
$Instagram: linear-gradient(#fdc468, #df4996);
$YouTube: #c4032a;

// Toggle Switch Colors

$Toggle: linear-gradient(to right, #378fe6, #3eda82);

// Dark Theme Colors

$Very-Dark-Blue: #1e202a;
$Very-Dark-Blue-two: #1f212e;
$Dark-Desaturated-Blue: #252a41;
$Desaturated-Blue: #8b97c6;
$White: #ffffff;

// Light Theme Colors

$White: #ffffff;
$OffWhite: #ced4ec25; //
$Very-Pale-Blue: #f5f7ff;
$Light-Grayish-Blue: #f0f2fa;
$Dark-Grayish-Blue: #63687e;
$Very-Dark-Blue: #1e202a;

// Font Family

$Inter: 'Inter', sans-serif;